<h1 id="profileH1">Forex is Fun</h1>
<!-- <img src="https://i.ytimg.com/vi/72EeweI6gpU/hqdefault.jpg" id="icon" alt=""> -->

<div class="postSection">
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="text" placeholder="Write a Caption!" id="postText">
        <input type="file" name="inputFile" id="inputFile"> 
        <input type="submit" class="btn btn-primary" id="postSubmit" value="Post">
    </form>
</div>

