
<h1 id="indexHeader">Recent Ideas</h1>
<br>


<div class="post">
    <% posts.forEach(function(post) { %>
        <div id="postCaption">
            <h1 class="postCaption"><%= post.caption %></h1>
            <a id="edit" href="/update/<%= post.id %>">Edit</a>
        </div>
        <img class="images" width="700px" height="500px" src="<%= post.image_url %>" alt="uploaded image"> 
        <form action="/<%= post.id %>?_method=DELETE" method="POST">
            <input id="deleteButton" class="btn-danger" type="submit" value="Remove idea" >
        </form>
        <br>
    <% }) %>
</div>