<br>
<div class="postSection">
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="text" name="caption" placeholder="Write a Caption:" id="postText">
        <input type="file" name="inputFile" id="inputFile"> 
        <input type="submit" class="btn btn-primary" id="postSubmit" value="Post">
    </form>
</div>