<h2>Trading Ideas</h2>


<div class="postDisplay">
    
   
</div>

<ul class="nav nav-tabs">
    <li class="nav-item" id="myIdeas">
      <a class="nav-link active" href="#">My Ideas</a>
      <div class="post">
        <% posts.forEach(function(post) { %>
          <div id="postCaption">
            <h1 class="postCaption"><%= post.caption %></h1>
            <a id="edit" href="/update">Edit</a>
          </div>
            <img class="images" width="700px" height="500px" src="<%= post.image_url %>" alt="uploaded image"> 
            <form action="/<%= post.id %>?_method=DELETE" method="POST">
                <input id="deleteButton" class="btn-danger" type="submit" value="Remove" >
            </form>
            <br>
        <% }) %>
    </div>
    </li>
    <li class="nav-item" id="savedIdeas">
      <a class="nav-link" href="#">Saved Ideas</a>
    </li>
  </ul>

