<h2>Trading Ideas</h2>


<div class="postDisplay">
    
   
</div>

<ul class="nav nav-tabs">
    <li class="nav-item" id="myIdeas">
        <a class="nav-link active" href="#">My Ideas</a>
    </li>
    <li class="nav-item" id="savedIdeas">
        <a class="nav-link" href="#">Saved Ideas</a>
    </li>
</ul>

