<h1><%= currencyPair %></h1>
<div class="container">
<ul>
    <div class="results">
        <div class="conversionRate">
        <% let val_JSON = JSON.stringify(results.conversion_rates) %> 
        <% const JSON2Str = jso => Object.entries(jso).reduce((s,[k,v],i)=>s + (i?',':'') + ` ${k}: ${v}`,'') %>
        <span id="rateText"><%= JSON2Str(results.conversion_rates) %></span><br> 
        </div>
    </div>
</ul> 
    

<div class="tradingview-widget-container">
    <div id="tradingview_90a82"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "width": 980,
    "height": 610,
    "symbol": "<%= results.base_code %> ",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "light",
    "style": "1",
    "locale": "en",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "allow_symbol_change": true,
    
  }
    );
    </script>
  </div>

</div>
  <br>