<h2>Update Your Caption Below...</h2>
<br>

<form action="/update?_method=put" method="POST" enctype="multipart/form-data">
    <input type="text" name="caption" placeholder="New Caption:" id="updatePostText" >
    <input type="submit" class="btn btn-primary" id="postSubmit" value="Update">
</form>