<h2 id="updateHeader">Update Your Caption Below...</h2>
<br>

<form action="/update/<%= post.id %>?_method=PUT" method="POST">
    <input type="text" name="caption" placeholder="New Caption:" id="updatePostText" >
    <input type="submit" class="btn btn-primary" id="updateSubmit" value="Update">
</form>