nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: grey;
  text-align: center;
}


body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.navBar {
  background: rgb(219, 216, 216);
  height: 50px;
}

header {
  flex: inline;
}

.titleIcon {
  float: left;
  font-size: 150%;
  margin-left: 20px;
  margin-top: 10px;
}

.authentication {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.login {
  display: inline;
}

.search {
  font-size: 10;
}

.searchBar {
  text-align: center;
}

#searchBar {
  height: 30px;
  width: 325px;
  border: 3px solid #00B4CC;
  /* border-right: none; */
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  margin-top: 10px;
}

#searchBar:focus{
  color: #00B4CC;
}

#submit {
  height: 30px;
  width: 30px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

.postSection {
  display: inline-block;
  text-align: center;
  border: 2px solid gray;
  padding: 2px;
  border-radius: 3%;
}

#postText {
  width: 250px;
}

#postSubmit {
  background: green;
}

#inputFile {
  margin: auto;
}

#icon {
  width: 350px;
  height: 150px;
  border-radius: 5%;
}

.nav-item {
  /* margin: auto; */
  font-size: large;
  margin-left: auto;
  margin-right: auto;
} 

#profileH1 {
  margin-bottom: 5px;
}

.postDisplay {

}

